<!DOCTYPE html>
<html>
<body>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/styles/styles.css" />
    	<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    </head>
    <canvas id="linechart" width="900" height="200"></canvas>

<script>
  var ctx = document.getElementById('linechart').getContext('2d');
  var data_json = {{ data_json | safe }};
  var linechart = new Chart(ctx, {
    type: "line",
    data: {
      labels: data_json.labels,
      datasets: data_json.datasets
    },
    options: {
      scales: {
        y: {
          responsive: false
        }
      }
    }
  });
</script>

<div class="button-container">
    <button id="temperatureButton" onclick="toggleInput('temp')">Temperature</button>
    <input type="number" id="tempFrom" class="hide" placeholder="From">
    <input type="number" id="tempTo" class="hide" placeholder="To">

    <button id="humidityButton" onclick="toggleInput('humidity')">Humidity</button>
    <input type="number" id="humidityFrom" class="hide" placeholder="From">
    <input type="number" id="humidityTo" class="hide" placeholder="To">

    <button id="dateButton" onclick="toggleInput('date')">Date</button>
    <input type="date" id="dateFrom" class="hide">
    <input type="date" id="dateTo" class="hide">

    <button id="locationButton" onclick="toggleLocationInput()">Location</button>
    <input type="text" id="location" class="hide" placeholder="Enter Location">
</div>

<script>
    function toggleInput(field) {
        var inputFrom = document.getElementById(field + 'From');
        var inputTo = document.getElementById(field + 'To');
        inputFrom.classList.toggle("show");
        inputTo.classList.toggle("show");
    }

    function toggleLocationInput() {
        var locationInput = document.getElementById('location');
        locationInput.classList.toggle("show");
    }
</script>

    <table class="styled-table">
        <tr>
          <th>Timestamp</th>
          <th>Location</th>
          <th>Temperature</th>
          <th>Humidity</th>
        </tr>
        {% for temp in temps %}
        <tr>
          <td>{{ temp.timestamp }}</td>
          <td>{{ temp.location }}</td>
          <td>{{ temp.temperature }}</td>
          <td>{{ temp.humidity }}</td>
        </tr>
        {% endfor %}
      </table>
</body>
</html> 
